
// Variables
@import 'variables'

// Bootstrap
@import '~bootstrap/scss/bootstrap'

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito')
@import 'fonts'

body
  //border: 2px solid cyan
  padding: 0px
  margin: 0px


header
  padding: 0px !important
  margin: 0px !important

*
  text-decoration: none
  font-family: 'Montserrat', sans-serif
  font-display: auto
  //list-style-type: none

a:hover
  text-decoration: none
  text-underline: none
// Variables


.pd-0
  padding-left: 0px !important
  padding-right: 0px !important


.bg-card-login
  background: #fff


.card-login
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19)
  margin: 0px 5px


// Body
$body-bg: #f8fafc

.bg-login
  background: rgb(0,46,77)
  background: linear-gradient(31deg, rgba(0,46,77,1) 0%, rgba(0,142,237,1) 100%)
  background-repeat: no-repeat
  background-size: auto
  height: 100vh

